<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot5.dao.EmpMapper">
  <resultMap id="BaseResultMap" type="com.springboot5.pojo.Emp">
    <id column="empno" jdbcType="INTEGER" property="empno" />
    <result column="ename" jdbcType="VARCHAR" property="ename" />
    <result column="job" jdbcType="VARCHAR" property="job" />
    <result column="sal" jdbcType="REAL" property="sal" />
    <result column="comm" jdbcType="REAL" property="comm" />
    <result column="mgr" jdbcType="INTEGER" property="mgr" />
    <result column="hiredate" jdbcType="TIMESTAMP" property="hiredate" />
    <result column="deptno" jdbcType="INTEGER" property="deptno" />
  </resultMap>
  <sql id="Base_Column_List">
    empno, ename, job, sal, comm, mgr, hiredate, deptno
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from emp
    where empno = #{empno,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from emp
    where empno = #{empno,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.springboot5.pojo.Emp">
    insert into emp (empno, ename, job, 
      sal, comm, mgr, hiredate, 
      deptno)
    values (#{empno,jdbcType=INTEGER}, #{ename,jdbcType=VARCHAR}, #{job,jdbcType=VARCHAR}, 
      #{sal,jdbcType=REAL}, #{comm,jdbcType=REAL}, #{mgr,jdbcType=INTEGER}, #{hiredate,jdbcType=TIMESTAMP}, 
      #{deptno,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.springboot5.pojo.Emp">
    insert into emp
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="empno != null">
        empno,
      </if>
      <if test="ename != null">
        ename,
      </if>
      <if test="job != null">
        job,
      </if>
      <if test="sal != null">
        sal,
      </if>
      <if test="comm != null">
        comm,
      </if>
      <if test="mgr != null">
        mgr,
      </if>
      <if test="hiredate != null">
        hiredate,
      </if>
      <if test="deptno != null">
        deptno,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="empno != null">
        #{empno,jdbcType=INTEGER},
      </if>
      <if test="ename != null">
        #{ename,jdbcType=VARCHAR},
      </if>
      <if test="job != null">
        #{job,jdbcType=VARCHAR},
      </if>
      <if test="sal != null">
        #{sal,jdbcType=REAL},
      </if>
      <if test="comm != null">
        #{comm,jdbcType=REAL},
      </if>
      <if test="mgr != null">
        #{mgr,jdbcType=INTEGER},
      </if>
      <if test="hiredate != null">
        #{hiredate,jdbcType=TIMESTAMP},
      </if>
      <if test="deptno != null">
        #{deptno,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.springboot5.pojo.Emp">
    update emp
    <set>
      <if test="ename != null">
        ename = #{ename,jdbcType=VARCHAR},
      </if>
      <if test="job != null">
        job = #{job,jdbcType=VARCHAR},
      </if>
      <if test="sal != null">
        sal = #{sal,jdbcType=REAL},
      </if>
      <if test="comm != null">
        comm = #{comm,jdbcType=REAL},
      </if>
      <if test="mgr != null">
        mgr = #{mgr,jdbcType=INTEGER},
      </if>
      <if test="hiredate != null">
        hiredate = #{hiredate,jdbcType=TIMESTAMP},
      </if>
      <if test="deptno != null">
        deptno = #{deptno,jdbcType=INTEGER},
      </if>
    </set>
    where empno = #{empno,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.springboot5.pojo.Emp">
    update emp
    set ename = #{ename,jdbcType=VARCHAR},
      job = #{job,jdbcType=VARCHAR},
      sal = #{sal,jdbcType=REAL},
      comm = #{comm,jdbcType=REAL},
      mgr = #{mgr,jdbcType=INTEGER},
      hiredate = #{hiredate,jdbcType=TIMESTAMP},
      deptno = #{deptno,jdbcType=INTEGER}
    where empno = #{empno,jdbcType=INTEGER}
  </update>
</mapper>